<!--
    File: about.html
    Author: Dipen Shah
    Description: This page contains information about dipen shah. Author of the page.
-->

<div class="page-header">
    <h2>About Me</h2>
</div>

<div class="col-sm-12 breadcrumb">
    <a href="./home">Home</a> &gt; <a class="text-muted disabled" href="./about">About Me</a>
</div>

<div class="panel-body">
    <div class="panel-body">
        <div class="col-xs-12 col-sm-3">
            <img src="images/dipen.png" alt="Dipen Shah" class="img-thumbnail img-circle" />
        </div>

        <div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-8">
            <h1>Dipen Shah</h1>
            <h4 class="text-muted">Software Developer and Technology Enthusiast</h4>

            <p>
                Dipen Shah was born in Borsad, a town in Gujarat, India. He finished his primary education in Borsad.
                For higher secondary education, he moved to Vallabh Vidya Nagar. As a boy he always wanted to be an engineer or astronaut, so he
                joined engineering college in 2008. During his engineering he was interested in Computers, particularly, in Computing theories and algorithms.
                In his four years of Engineering he did several project as a part of academics. He also joined College Automation group within
                the college and developed fully functional Library Management System for the college, for which he and his team-mates were
                awarded. He achieved Bachelors of Engineering in Information Technology in 2012.
            </p>
            <br />
            <p>
                Then he worked for local company "Acmatix Solutions Pvt Ltd". Where he learned about more interesting  stuff like Test Driven Development aka TDD,
                Tesseract-OCR (open source Optical Character Recognition  framework), and Silverlight. His job as a Junior Software Developer involved maintaining,
                testing, and documenting existing software products. In 2013, he left this job for higher studies.
            </p>
            <br />
            <p>
                In September 2014, he enrolled in Software Engineering Technology program at Centennial College, Toronto to learn more about Software. Here, he
                got chance to work in groups for almost all subjects, and gained leadership experience. He also learned latest technologies such as Windows Communication
                Foundation (WCF), Android, and latest web development tools and frameworks. During this program he, WeMeet and android based application to find location
                of friends nearby. Currently, he is in the last semester of the project, and he is making another android application Smart Grocery, aimed at solving
                Grocery Related troubles.

            </p>
            <h3>
                <span class="label label-default">
                    Find out more...

                </span>
            </h3>

            <p class="text">
                To find out more about my skills, achievements, and awards click <a href="assets/DIPEN_Resume_2014_Web_Developer.pdf" target="_blank">HERE</a> to download my resume.
            </p>
        </div>
    </div>
</div>