<!--
    File: contact.html
    Author: Dipen Shah
    Description: This page contains contact information about dipen shah. Author of the page.
-->


<div class="page-header">
    <h2>Contact</h2>
</div>

<div class="col-sm-12 breadcrumb">
    <a href="./home">Home</a> &gt; <a class="text-muted disabled" href="./contact">Contact</a>
</div>

<div class="col-xs-12 col-sm-5">
    <address>
        <h2>Dipen Shah</h2>
        <strong>Toronto, ON Canada</strong>
        <div class="form-group h4">
            <span class="glyphicon glyphicon-inbox"></span> <a href="mailto:dipen08it419@gmail.com">dipen08it419@gmail.com</a>
        </div>
        <div class="form-group h4">
            <span class="glyphicon glyphicon-earphone"></span> +1 (647)278-7694
        </div>
        <div class="form-group h4">
            <img src="images/linkedin-icon.png" alt="Linked In" />
            <a href="http://ca.linkedin.com/pub/dipen-shah/3a/33/18a" target="_blank">Dipen Shah</a>
        </div>

    </address>
</div>

<div class="col-xs-12 col-sm-7">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="panel-title">Inquiry Form</span>
        </div>
        <div class="panel-body">
            <form name="contactForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Email Id</label>
                    <input type="email" class="form-control" placeholder="Enter your Email Id" name="emailId" ng-model="emailId" required="true" />
                    <span ng-show="contactForm.emailId.$dirty && contactForm.emailId.$invalid">
                        <span class="text-danger control-label" ng-show="contactForm.emailId.$error.required">Email is required.</span>
                        <span class="text-danger control-label" ng-show="contactForm.emailId.$error.email">
                            Invalid email address.
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Message</label>
                    <textarea class="form-control" name="message" placeholder="Enter message" ng-model="message" required="true"></textarea>
                    <span class="text-danger control-label" ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
                        <span class="text-danger control-label" ng-show="contactForm.message.$error.required">Message is required.</span>
                    </span>
                </div>
                <input type="button" class="btn btn-primary" value="Send Message" ng-click="SendMessage()" />
                <!--<input type="submit" class="btn btn-primary" value="Send Message" />-->
            </form>
        </div>
    </div>
</div>
