<!--
    File: projects.html
    Author: Dipen Shah
    Description: This page contains list of projects done by Dipen Shah.
-->


<div class="page-header">
    <h2>Projects</h2>
</div>

<div class="col-sm-12 breadcrumb">
    <a href="./home">Home</a> &gt; <a class="text-muted disabled" href="./projects">Projects</a>
</div>

<div class="panel-body">
    <div class="row container">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div id="carousel-erp" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-erp" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-erp" data-slide-to="1"></li>
                    <li data-target="#carousel-erp" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="thumbnail center-block" src="images/projects/ERP/erp_1.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/ERP/erp_2.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/ERP/erp_3.png" alt="..." />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-erp" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-erp" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">ERP System</strong>
            </span>
            <span class="info text-justify panel-body">
                ERP System was developed as a part of final year project during my bachelors. It has various modules
                required for ERP sytem such as Sales, HR, Production etc.

                <br /><br />
                <strong>Technologies: </strong> C#.NET, MS Reporting, MS SQL Server
            </span>
        </div>
    </div>
    <hr />
    <div class="row container">
        <img class="col-xs-12 col-sm-6 col-md-6" src="images/projects/LMS/lms_1.png" />

        <div class="col-xs-12 col-sm-6 col-md-6">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">Library Management System</strong>
            </span>

            <span class="info text-justify panel-body">
                Library Management System was developed for My College, A D Patel Institute of Technology during third year of my 
                engineering. It has functionalities needed for Library System such as Scan barcode, issue book, audit books etc.
                The major functionalities for this reports includes Reporting and Auditing of Library books.

                <br /><br />
                <strong>Technologies: </strong> C#.NET, MS Reporting, MS SQL Server
            </span>
        </div>
    </div>
    <hr />
    <div class="row container">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div id="carousel-wm" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-wm" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-wm" data-slide-to="1"></li>
                    <li data-target="#carousel-wm" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="thumbnail center-block" src="images/projects/WeMeet/wm_1.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/WeMeet/wm_2.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/WeMeet/wm_3.png" alt="..." />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-wm" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-wm" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 panel-body">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">We Meet</strong>
            </span>

            <span class="info text-justify panel-body">
                <span class="info text-justify panel-body">
                    WeMeet is an Android application which allows its user to find location of friends who are near by the user.
                    This application used GPS to track the location of contacts in the users phone. 

                    <br /><br />
                    <strong>Technologies: </strong> Android, WCF, MS SQL Server
                </span>
            </span>
        </div>
    </div>
    <hr />
    <div class="row container">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div id="carousel-bob" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-bob" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-bob" data-slide-to="1"></li>
                    <li data-target="#carousel-bob" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="thumbnail center-block" src="images/projects/BOB/bob_1.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/BOB/bob_2.png" alt="..." />
                    </div>
                    <div class="item">
                        <img class="thumbnail center-block" src="images/projects/BOB/bob_3.png" alt="..." />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-bob" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-bob" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 panel-body">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">BOB - the Builder</strong>
            </span>

            <span class="info text-justify panel-body">
                Bob - the builder, was an application developed by me during Technical Festival at my college.This application
                was used by organizer of the event. The event was related to investment in property. The application was used to manage
                properties and its owners.

                <br /><br />
                <strong>Technologies: </strong> C#.NET, MS Access
            </span>
        </div>
    </div>
</div>
