<!--
    File: services.html
    Author: Dipen Shah
    Description: This page contains list of services provided by Dipen Shah.
-->

<div class="page-header">
    <h2>Services</h2>
</div>

<div class="col-sm-12 breadcrumb">
    <a href="./home">Home</a> &gt; <a class="text-muted disabled" href="./services">Services</a>
</div>

<div class="panel-body">
    <div class="row container">
        <img class="thumbnail col-sm-4 col-md-3" src="images/software.png" />

        <div class="col-xs-12 col-sm-8 col-md-9">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">Software Development</strong>
            </span>
            <span class="info text-justify panel-body">
                With overall 5 years of academic experience and 5 months of Industry experience, I've acheived
                expertise in developing Software for Windows. During my academics, I have developed various applications
                such as Alarm Clock, Sticky Notes, and Asset Management System.

                <br /><br />
                <strong>Technologies: </strong> C#.NET, VB.NET, DevExpress
            </span>
        </div>
    </div>
    <hr />
    <div class="row container">
        <img class="thumbnail col-sm-4 col-md-3" src="images/Website-development.png" />

        <div class="col-xs-12 col-sm-8 col-md-9">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">Web Application Development</strong>
            </span>

            <span class="info text-justify panel-body">
                I started web development by learning HTML back in 2009. One of the successful project during my
                acedemics, "Library Management System" was in fact a web application in ASP.NET. Today, I have
                advanced experience in ASP.NET framework as well as related technologyies such as ASP.NET MVC and
                Entity Framewrok. I also have experience in developing light-weight applications with plain old HTML,
                CSS, and javascript.
                <br /><br />
                <strong>Open Source Frameworks:</strong> BootStrap, jQuery, and Angular.js

            </span>
        </div>
    </div>
    <hr />
    <div class="row container">
        <img class="thumbnail col-sm-4 col-md-3" src="images/android.jpg" />

        <div class="col-xs-12 col-sm-8 col-md-9 panel-body">
            <span class="modal-header col-sm-12 col-xs-12">
                <strong class="modal-title">Mobile Development</strong>
            </span>

            <span class="info text-justify panel-body">
                In this mobile era, almost everything thing is possible with a mobile device. People are increasingly
                using their mobile devices not only to call but to play games, to watch movies, and to track their health.
                Having a mobile application or atleast mobile website is must for any business. I have been working with
                Android for a year now, and I am an intermediate developer for the platform. WeMeet, and application to find
                friend nearby is an Android application made by my team at centennial college last winter. Currently, I'm
                working on another android application aimed to solve grocery related problems.
            </span>
        </div>
    </div>
</div>
