<!--
    File: sitemap.html
    Author: Dipen Shah
    Description: This page sitemap information for Dipen's portfolio website.
-->


<div class="page-header">
    <h2>Site Map</h2>
</div>
<div class="col-sm-4 col-xs-12 panel-body">
    <h1>Portfolio &gt;</h1>

    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./home">Home</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./projects">Projects</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./services">Services</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./contact">Contact Me</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./about">About Me</a>
</div>
<div class="col-sm-4 col-xs-12 panel-body">
    <h1>Support &gt;</h1>

    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./sitemap">Site Map</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./termsOfUse">Terms of Use</a>
    <a class="text-muted col-sm-12 col-md-12 col-xs-12" href="./privacyPolicy">Privacy Policy</a>
</div>